body {
    font-family: 'Roboto', sans-serif;
}

.speaker-card {
    text-align: center;
}

.speaker-card img {
    border-radius: 0;
    width: 150px;
    height: 200px;
}

.speaker-card h2 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.speaker-card p {
    font-size: 0.875rem;
    color: #d1d5db;
}

.flag-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b91c1c;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Responsive styles for navigation */
@media (max-width: 640px) {
    nav {
        flex-direction: column; /* Stack navigation items vertically */
        align-items: center; /* Center align items */
    }

    nav a {
        width: 100%; /* Make each navigation item full-width */
        text-align: center; /* Center the text */
        padding: 0.5rem 0; /* Add padding for better touch targets */
        margin-bottom: 10px; /* Add some space between items */
    }

    .bg-black {
        padding: 1rem; /* Ensure padding is consistent */
    }
}